@charset "utf-8";

.privacy {
  background: #fff;
  padding: 70px 40px;
  margin-bottom: 40px;
}

.privacy h2 {
  font-size: 1.7em;
  color: #786450;
  margin-bottom: 50px;
  text-align: left;
}

.privacy>p {
  color: #646464;
  font-size: 1.2em;
  line-height: 2;
  margin-bottom: 70px;
}

.privacy01 ul li h3 {
  font-size: 1.5em;
  color: #646464;
  margin-bottom: 5px;
}

.privacy01 ul li p {
  font-size: 1.2em;
  color: #646464;
  margin-bottom: 30px;
  line-height: 2;
}

.privacy01 ul li:last-child p {
  margin-bottom: 0;
}

.privacy01 ul li p a {
  color: #649fc8; 
}

.privacy01 ul li p a:hover {
  opacity: 0.7;
}