@charset "utf-8";

/*** Access Page ***/
.info,.info dl {
  font-size: 1.1em;
  color: #646464;
}
.info dt {
  width: 19%;
  display: block;
}
.info dd {
  width: 68%;
}
.street {
  padding: 30px 0;
}
.street img {
  padding-bottom: 30px;
}
.street:after {
  content: "";
  display: block;
  width: 26px;
  height: 33px;
  background: url(../images/access04.png);
  margin: 0 auto;
}
.street01:after {
  content: initial;
  background: none;
}